.App {
  text-align: center;
  width: 70%;
  margin-left: 15%;
  border: 5px solid blue;
  background-color: white;
}

h1 {
  color: rgb(76, 198, 235);
  font-weight: 900;
  background-color: rgb(36, 48, 48);
  margin-top: 5%;
}

h3 {
  color: rgb(39, 133, 165);
  font-weight: 900;
}

#btn {
  background-color: black;
  color: white;
  font-size: 20px;
}

#btn:hover {
  background-color: #2897b9;
  color: black;
  cursor: pointer; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#card-container {
  margin-top: 2%;
  border: 15px solid rgb(117, 71, 71);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
